div#Contact
    line-height: 2em
    margin: 2rem
    & > h1
        margin-bottom: .5em
    & > div.contact_links
        & > a
            display: inline-block
            height: 48px
            width: 48px
            background-size: contain
            background-repeat: no-repeat
            margin: .5em
            &:hover
                opacity: 0.4


