div#Contact
    line-height: 2em
    margin: 2rem
    & > h1
        margin-bottom: .5em
    & > div.contact_links
        & > a
            margin: .5em
            &:hover
                opacity: 0.4


