body.cv
    font-size: 20px
    line-height: 25px
    margin: auto
    margin-bottom: 1em
    width: 800px

    @media print
        font-size: 16px

    & p.sub
        font-style: italic
        color: #999

    & > header
        display: flex
        justify-content: space-between
        margin: 1em
        margin-left: 0px
        padding-bottom: 1rem
        border-bottom: 1px solid #000

    & a.link_logo
        display: inline-block
        width: 40px
        height: 40px
        background-size: contain
        background-repeat: no-repeat
        margin-right: .5em
        color: black
        &:hover
            opacity: 0.4

        @media print
            text-decoration: none
            width: auto
            height: auto
            margin-right: 0.5em
            &::after
                content:  attr(title)

    & > div.main
        & > section.basic
            text-align: center
            display: flex
            justify-content: space-between
            flex-flow: row wrap
            & > table
                text-align: left
                & > * tr
                    & > td
                        padding-right: .5em

        & > section.element
            margin-top: 1em
            display: flex
            justify-content: space-between

            & > h2
                flex: 1 0 20%
                font-weight: 600
                font-style: italic

            & > section
                flex: 1 0 70%
                padding-left: 1em
                border-left: 1px solid #000
                & > header
                    & > label.spoiler_link
                        cursor: pointer
                & > section
                    & > p
                        word-wrap: break-word

            & > section.job
                & > header.title
                    display: flex
                    flex-flow: row wrap
                    justify-content: space-between
                & > ul
                    margin-left: 1em
                    padding: 0
