div.gallery
    & > h1
        margin: 2rem

    & > div.sub_page

        & > a
            display: flex
            flex-direction: column
            justify-content: center

            flex: 4
            font-size: 6vw
            margin: .2em
            text-align: center
            text-decoration: none
            opacity: 0.5
            transition: all .2s ease-in-out
            color: black

            &:visited
                color: black

            &:hover
                opacity: 1
                transform: scale(1.175)

        & > div.current
            display: flex
            flex-flow: column

            flex: 5 0 50%
            background: #333
            box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.4)

            & > div.description
                width: 80%
                display: flex
                flex-direction: column
                text-align: center
                color: white
                padding: 1rem
                align-self: center
                font-size: 3vmin
                & > p.title
                    font-weight: 900
                    font-size: 120%
                & > p.details
                    text-align: center
                    font-weight: 100
                    word-wrap: break-word


            & > div.img
                height: 57.5vmin
                margin-top: 20px
