div.default
    margin: 2rem
    & > div.welcome
        & > div
            vertical-align: middle
            display: inline-block
        & > div.par
                text-align: left
                line-height: 1.5em
                margin: auto
                box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.1)
                width: 400px
                padding: 1em
                font-style: oblique
