include _common.pug
+head

body
    main(class="container center")
        h1(class="big")="404"
        section(class="inline-children")
            p.
                Did you take a wrong turn?<br>
                Let me show you a <a href="/">way</a>
            img(src=require('../assets/img/Miyuki.png'))

